section#beneficios {
    margin: 40px 0px;
    text-align: center;
}

section#beneficios .box{
    border: 1px solid var(--cor-primaria);
    border-radius: 10px;
    margin: 10px 20px;
}

section#beneficios .caixa{
    margin-bottom: 50px;
}

section#beneficios .box div{
    padding: 15px 0;
}

section#beneficios .box div.valor{
    background: var(--cor-primaria);
    color: var(--cor-branco);
    font-weight: bold;
    border-bottom: 1px solid var(--cor-branco);
}

section#beneficios .box div.superior {
    border-radius: 0px 10px 0 0;
}

section#beneficios .box div.sborda{
    border-bottom: 0px;
    border-radius: 0px 0px 10px 0;
}

section#beneficios .box div.pontos{
    border-bottom: 1px solid var(--cor-primaria);
}

section#beneficios .box div.sbordap{
    border-bottom: 0px;
}