footer {
    border-top: 1px solid var(--cor-branco);
    background: var(--cor-primaria);
    padding: 30px;  
    width: 100%;
}


footer div h1{
    background: url(../img/logo.png) no-repeat;
    width: 150px;
    height: 60px;
    text-indent: -3000px;
    text-align: center;
}

footer div {
    width: 150px;
    height: 60px;
    margin: 0 auto;
}